page-user-info {    
    .text-black{
        color : #202020;
    }
    .text-gray{
        color : gray;
    }
    .user-info-header{
        position: relative;
        height: $toolbar-height;        
    }
    #i-btn-back{
        font-size: 1.6em;       
        line-height: $toolbar-height; 
        padding-left: 10px;
    }
    .user-info-view-icon{
        float : right;  
        right:0px;      
        height: 100%;
        padding : 16px;
    }

    .user-info-poster{
        height: 200px;        
        text-align: center;
    }
    .user-info-avatar{
        width: 100px;
        height: 100px;
        border-radius:50px; 
        margin-top: 20px;
    }
    .level-container{
        position: relative;
        margin-top: -24px;
    }
    .user-info-level{
        color: white;
        background-color: #673283;
        height: 2em;
        border-radius: 1em;
        line-height: 1.8em;        
        display: inline-block;        
        padding-left: 16px;
        padding-right: 16px;
        border: solid 2px white;        
    }
    .user-info-name{               
        height: 1.4em;
        line-height: 1.4em;
        font-size: 1.4em;
        margin-top: 10px;
    }
    .gender{               
        height: 1em;          
        vertical-align: middle;                      
    }
    .user-info-controls{
        position: relative;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: solid 1px lightgray;
    }
    .user-info-control-left{
        width: 50%;
        max-width: 49%;
        display: inline-block;        
        position: relative;
    }
    .user-info-control-right{
        width: 50%;
        max-width: 49%;
        display: inline-block;
        position: relative;
    }
    .separate{
        height: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: lightgray;
    }
    .item-setting{
        height: 52px;
        line-height: 52px;        
        position: relative;
        padding-left: 4px;   
        font-size: 1em;       
        border-bottom: solid 1px lightgrey;              
    }

    .item-setting img{        
        height: 100%;        
        float : left;      
        padding: 16px;
    }

    .item-setting span{        
        height: 100%;                
    }
    
    .item-setting-right{
        float : right;        
        height: 100%;
        padding-right: 10px;        
    }
    .badge{                
        padding-right: 8px;                
    }
}
