page-user-follow {

#user-follow-content{
    background-color: #f8f8f8;
}
.item-talent{
    border-bottom: solid 1px lightgray !important;
}
.follow-state-img{
    height: 1.4em;    
}
.loading-container{
    height: 200px;
    position: relative;
}

}
